<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
  <div>
    <button mat-icon-button (click)="toggle()"
            class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>{{myTitle.text}}</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-around center" >
    <course-exchange-rates></course-exchange-rates>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon [routerLink]="['cart']" >shopping_cart</mat-icon>
    </button>
  </div>
</mat-toolbar>
